<h1>{{welcomeText}}</h1>
<!--1.7-->
<form name="clientForm"  ng-submit="create(newClient)">
    <input ng-model="newClient.firstName" required>
    <input ng-model="newClient.lastName" required>
    <button ng-disabled="!clientForm.$valid">Create</button>
</form>
<!--1.6-->
<ul id="client-list">
    <li class="client" ng-repeat="client in clients" ng-click="select(client)">
        <p>{{client.firstName[0] + '. ' + client.lastName}}</p>
        <div ng-show="selected == client" >
            <button ng-click="delete(client)">Delete</button>
            <button ng-click="show(client)">Details</button>
        </div>
    </li>
</ul>
